# Task 1

<div style="max-width: 50%;">
<details>
    <summary>Details</summary>    
    As discussed during Lecture 2, the first phase of a Data Mining project typically includes getting familiar with the domain and pre-processing the dataset in a suitable manner. In this
    part of the assignment, we will go through those steps.
</details>
</div>

## Task 1 a
<div style="max-width: 50%;">
<details>
    <summary>Detail</summary>    
    Start with exploring the raw data that is available: <br><br>
    - Notice all sorts of properties of the dataset: how many records are there, how many
    attributes, what kinds of attributes are there, ranges of values, distribution of values,
    relationships between attributes, missing values, and so on. A table is often a suitable
    way of showing such properties of a dataset. Notice if something is interesting (to you,
    or in general), make sure you write it down if you find something worth mentioning.<br><br>
    - Make various plots of the data. Is there something interesting worth reporting? Re-
    port the figures, discuss what is in them. What meaning do those bars, lines, dots, etc.
    convey? Please select essential and interesting plots for discussion, as you have limited
    space for reporting your findings.
</details>
</div>

In [296]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('dataset_mood_smartphone.csv')

data

        Unnamed: 0       id                     time        variable   value
0                1  AS14.01  2014-02-26 13:00:00.000            mood   6.000
1                2  AS14.01  2014-02-26 15:00:00.000            mood   6.000
2                3  AS14.01  2014-02-26 18:00:00.000            mood   6.000
3                4  AS14.01  2014-02-26 21:00:00.000            mood   7.000
4                5  AS14.01  2014-02-27 09:00:00.000            mood   6.000
...            ...      ...                      ...             ...     ...
376907     2770399  AS14.30  2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30  2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30  2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30  2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32  2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 5 columns]

In [297]:
data.columns

Index(['Unnamed: 0', 'id', 'time', 'variable', 'value'], dtype='object')

In [298]:
#plt.plot(data['time'], data['variable'], 'o')

In [299]:
data['variable'].describe()

count     376912
unique        19
top       screen
freq       96578
Name: variable, dtype: object

In [ ]:
#TRY IMPUTE BEFORE AGGREGATING 
#chat gpt advice - better to aggregate first

In [300]:
table = pd.pivot_table(data, values='value', index=['id','time'], columns='variable')

In [301]:
#table.to_csv('table.csv')

In [302]:
table.reset_index(inplace=True)

In [303]:
table

variable,id,time,activity,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,...,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather,call,circumplex.arousal,circumplex.valence,mood,screen,sms
0,AS14.01,2014-02-17 12:04:42.394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,AS14.01,2014-02-17 18:28:25.520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,AS14.01,2014-02-18 09:29:51.257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,AS14.01,2014-02-19 14:43:30.575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,AS14.01,2014-02-19 17:29:10.378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358921,AS14.33,2014-05-30 22:32:05.016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358922,AS14.33,2014-05-30 22:32:11.049,NaN,3.122,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358923,AS14.33,2014-05-30 22:32:14.240,NaN,1.003,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358924,AS14.33,2014-05-30 22:32:15.246,NaN,4.134,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358925,AS14.33,2014-05-31 12:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-2.0,1.0,7.0,NaN,NaN

**TASK 1B - OUTLIERS**

In [304]:
#TASK 1B - 1 - remove outliers
import pandas as pd

# Load the dataset
data = table

# List of columns to check for outliers based on the provided information
columns_to_check = [
    'mood', 'circumplex.arousal', 'circumplex.valence', 'activity', 
    'screen', 'appCat.builtin', 'appCat.communication', 'appCat.entertainment',
    'appCat.finance', 'appCat.game', 'appCat.office', 'appCat.other', 
    'appCat.social', 'appCat.travel', 'appCat.unknown', 'appCat.utilities',
    'appCat.weather'
]

# Function to calculate IQR and determine outliers
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Determine outliers
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers.shape[0], lower_bound, upper_bound

# Dictionary to hold the outlier detection results
outlier_detection_results = {}

# Analyze each column for outliers
for column in columns_to_check:
    # Skip the column if it's not in the dataframe
    if column not in data.columns:
        continue
    # Apply the outlier detection
    num_outliers, lower_bound, upper_bound = detect_outliers(data, column)
    outlier_detection_results[column] = {
        "num_outliers": num_outliers,
        "lower_bound": lower_bound,
        "upper_bound": upper_bound
    }

# Print the results
for column, results in outlier_detection_results.items():
    print(f"{column}: {results['num_outliers']} outliers detected "
          f"(Lower Bound: {results['lower_bound']}, Upper Bound: {results['upper_bound']})")

print('-----------------')
print("FOR NOW, OUTLIERS NOT REMOVED, BOUNDARIES NEED TO BE ADJUSTED")
print("IDEA, RE-SCALE OUT OF BOUNDS VALUES TO THE NEAREST EXTREME: e.g: BOUND = -2 AND 2, VAL = -3 --> -2")

mood: 397 outliers detected (Lower Bound: 5.5, Upper Bound: 9.5)
circumplex.arousal: 0 outliers detected (Lower Bound: -4.0, Upper Bound: 4.0)
circumplex.valence: 30 outliers detected (Lower Bound: -1.5, Upper Bound: 2.5)
activity: 2223 outliers detected (Lower Bound: -0.2374999999999995, Upper Bound: 0.3958333333333325)
screen: 10055 outliers detected (Lower Bound: -80.5047501623631, Upper Bound: 148.36725029349333)
appCat.builtin: 10152 outliers detected (Lower Bound: -9.833000000000002, Upper Bound: 21.775000000000002)
appCat.communication: 6401 outliers detected (Lower Bound: -55.168625000000006, Upper Bound: 105.862375)
appCat.entertainment: 4517 outliers detected (Lower Bound: -19.048000000000002, Upper Bound: 35.304)
appCat.finance: 118 outliers detected (Lower Bound: -20.052500000000006, Upper Bound: 44.279500000000006)
appCat.game: 85 outliers detected (Lower Bound: -150.06750000000002, Upper Bound: 287.8405)
appCat.office: 848 outliers detected (Lower Bound: -7.055625000000001, Upper Bound: 17.103375)
appCat.other: 1000 outliers detected (Lower Bound: -7.6963750000000015, Upper Bound: 31.544625000000003)
appCat.social: 1838 outliers detected (Lower Bound: -90.483, Upper Bound: 174.885)
appCat.travel: 181 outliers detected (Lower Bound: -58.124624999999995, Upper Bound: 110.438375)
appCat.unknown: 80 outliers detected (Lower Bound: -54.10074999999999, Upper Bound: 103.54924999999999)
appCat.utilities: 182 outliers detected (Lower Bound: -21.10025, Upper Bound: 43.589749999999995)
appCat.weather: 10 outliers detected (Lower Bound: -16.313499999999998, Upper Bound: 50.3465)
-----------------
FOR NOW, OUTLIERS NOT REMOVED, BOUNDARIES NEED TO BE ADJUSTED
IDEA, RE-SCALE OUT OF BOUNDS VALUES TO THE NEAREST EXTREME: e.g: BOUND = -2 AND 2, VAL = -3 --> -2

**AGGREGATION**

In [305]:
#agg per day
#1C - THE RESULTING DATASET WILL BE USE FOR ML ALG THAT CAN'T HANDLE TEMPORAL DATA
#AGGREGATION METHOD FOR NON-TIME ML ALG (WILL USE DECISION TREE OR SVM )
import pandas as pd

# Load the data into a pandas DataFrame
#print(table)

# Set the index to 'id'
table.set_index('id', inplace=True)

# Parse the 'time' column to datetime format
table['time'] = pd.to_datetime(table['time'])

# Group the data by ID and date, and aggregate the measurements for each day
df_daily = table.groupby([table.index, table['time'].dt.date]).agg({
    'activity': 'sum',
    'appCat.builtin': 'sum',
    'appCat.communication': 'sum',
    'appCat.entertainment': 'sum',
    'appCat.finance': 'sum',
    'appCat.game': 'sum',
    'appCat.office': 'sum',
    'appCat.other': 'sum',
    'appCat.social': 'sum',
    'appCat.travel': 'sum',
    'appCat.unknown': 'sum',
    'appCat.utilities': 'sum',
    'appCat.weather': 'sum',
    'call': 'sum',
    'circumplex.arousal': 'mean',
    'circumplex.valence': 'mean',
    'mood': 'mean',
    'screen': 'sum',
    'sms': 'sum'
}).reset_index()

# Display the resulting DataFrame
print(df_daily)

variable       id        time  activity  appCat.builtin  appCat.communication  \
0         AS14.01  2014-02-17  0.000000           0.000                 0.000
1         AS14.01  2014-02-18  0.000000           0.000                 0.000
2         AS14.01  2014-02-19  0.000000           0.000                 0.000
3         AS14.01  2014-02-20  0.000000           0.000                 0.000
4         AS14.01  2014-02-21  0.000000           0.000                 0.000
...           ...         ...       ...             ...                   ...
1968      AS14.33  2014-05-27  0.304902         726.391              2078.403
1969      AS14.33  2014-05-28  2.479228        2551.046              1936.415
1970      AS14.33  2014-05-29  4.064507         400.034               435.105
1971      AS14.33  2014-05-30  4.050925        3044.030              1670.842
1972      AS14.33  2014-05-31  0.000000           0.000                 0.000

variable  appCat.entertainment  appCat.finance  appCat.game  appCat.office  \
0                        0.000             0.0          0.0          0.000
1                        0.000             0.0          0.0          0.000
2                        0.000             0.0          0.0          0.000
3                        0.000             0.0          0.0          0.000
4                        0.000             0.0          0.0          0.000
...                        ...             ...          ...            ...
1968                   124.694             0.0          0.0          0.000
1969                   614.706             0.0          0.0        357.909
1970                   136.738             0.0          0.0          0.000
1971                   260.220             0.0          0.0          0.000
1972                     0.000             0.0          0.0          0.000

variable  appCat.other  ...  appCat.travel  appCat.unknown  appCat.utilities  \
0                0.000  ...          0.000           0.000             0.000
1                0.000  ...          0.000           0.000             0.000
2                0.000  ...          0.000           0.000             0.000
3                0.000  ...          0.000           0.000             0.000
4                0.000  ...          0.000           0.000             0.000
...                ...  ...            ...             ...               ...
1968           142.686  ...          0.000           0.000            56.173
1969           529.946  ...          0.000           0.000            30.666
1970            29.202  ...          0.939           0.000             3.199
1971            52.610  ...       1052.648           8.072           232.825
1972             0.000  ...          0.000           0.000             0.000

variable  appCat.weather  call  circumplex.arousal  circumplex.valence  mood  \
0                    0.0   2.0                 NaN                 NaN   NaN
1                    0.0   1.0                 NaN                 NaN   NaN
2                    0.0   7.0                 NaN                 NaN   NaN
3                    0.0   2.0                 NaN                 NaN   NaN
4                    0.0   0.0                 NaN                 NaN   NaN
...                  ...   ...                 ...                 ...   ...
1968                 0.0   1.0           -0.600000                 0.4   6.2
1969                 0.0  10.0            0.000000                 1.2   8.2
1970                 0.0   5.0           -1.333333                 1.0   7.0
1971                 0.0   4.0           -0.800000                -0.4   6.8
1972                 0.0   0.0           -2.000000                 1.0   7.0

variable        screen  sms
0             0.000000  0.0
1             0.000000  0.0
2             0.000000  2.0
3             0.000000  3.0
4             0.000000  1.0
...                ...  ...
1968       4089.879001  2.0
1969      14320.867998  1.0
1970       3569.341000  1.0
1971       9497.646999  0.0
1972          0.000000  0.0

[1973 rows x 21 columns]

**TASK 1B IMPUTE MISSING DATA**

In [306]:
# 1B IMPUTE DATA WITH 2 METHODS - LINEAR INETERPOLATION AND ARIMA BASED IMPUTATION
from statsmodels.tsa.arima.model import ARIMA

#LINEAR INTERPOLATION 
data = df_daily
nan_count = data.isna().sum()
nan_columns_with_counts = nan_count[nan_count > 0]

print(nan_columns_with_counts)

for i in data.columns:
    data[i].interpolate(method='linear', inplace=True)
nan_count = data.isna().sum()
nan_columns_with_counts = nan_count[nan_count > 0]

print(nan_columns_with_counts)

print(data['mood'].value_counts())
data.to_csv('linear_interpolation_data.csv')


#ARIMA METHOD
# Load and prepare the data
table = df_daily  # Added loading of the CSV file
table['time'] = pd.to_datetime(table['time'])
data = table
data.set_index('time', inplace=True)

# Identify numeric columns (excluding 'mood' as it's the target)
numeric_columns = data.select_dtypes(include=['float64']).columns.tolist()
if 'mood' in numeric_columns:
    numeric_columns.remove('mood')  # Ensure mood is removed from the list

def impute_with_arima(series, order=(1,1,1)):
    """
    Imputes the missing values in a time series using ARIMA.
    
    Parameters:
        series (pd.Series): The time series to impute.
        order (tuple): The order (p,d,q) of the ARIMA model.
    
    Returns:
        pd.Series: The time series with imputed values.
    """
    # Ensure the series has regular intervals, resampling if necessary
    series = series.resample('D').mean()
    
    # Drop all NaN values to find the best ARIMA parameters
    non_na_data = series.dropna()
    if len(non_na_data) < 3:  # Need at least 3 data points to fit ARIMA
        return series
    
    try:
        model = ARIMA(non_na_data, order=order)
        model_fit = model.fit()
        
        # Predict values for the entire series, filling in the gaps
        forecast = model_fit.predict(start=series.index[0], end=series.index[-1])
        
        # Replace the missing values with predictions
        imputed_series = series.copy()
        imputed_series[series.isna()] = forecast[series.isna()]
    except Exception as e:
        print(f"Error fitting ARIMA model: {e}")
        return series  # Return the original series if ARIMA fitting fails
    
    return imputed_series

# Apply ARIMA to impute missing values for each numeric column
for col in numeric_columns:
    data[col] = impute_with_arima(data[col])

# Optionally save the imputed data
data.to_csv('ARIMA_imputed_data.csv')

# Check for remaining NaN values
nan_count = data.isna().sum()
nan_columns_with_counts = nan_count[nan_count > 0]

# Display remaining NaN values and preview the imputed data
print(nan_columns_with_counts)
print(data.head())

variable
circumplex.arousal    705
circumplex.valence    707
mood                  705
dtype: int64
variable
circumplex.arousal    7
circumplex.valence    7
mood                  7
dtype: int64
mood
7.000000    275
7.200000     98
6.800000     83
8.000000     73
7.400000     72
           ...
7.384615      1
7.423077      1
7.461538      1
7.538462      1
6.166667      1
Name: count, Length: 596, dtype: int64

/usr/local/lib/python3.9/site-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/usr/local/lib/python3.9/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
/usr/local/lib/python3.9/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

variable
mood    7
dtype: int64
variable         id  activity  appCat.builtin  appCat.communication  \
time
2014-02-17  AS14.01       0.0             0.0                   0.0
2014-02-18  AS14.01       0.0             0.0                   0.0
2014-02-19  AS14.01       0.0             0.0                   0.0
2014-02-20  AS14.01       0.0             0.0                   0.0
2014-02-21  AS14.01       0.0             0.0                   0.0

variable    appCat.entertainment  appCat.finance  appCat.game  appCat.office  \
time
2014-02-17                   0.0             0.0          0.0            0.0
2014-02-18                   0.0             0.0          0.0            0.0
2014-02-19                   0.0             0.0          0.0            0.0
2014-02-20                   0.0             0.0          0.0            0.0
2014-02-21                   0.0             0.0          0.0            0.0

variable    appCat.other  appCat.social  appCat.travel  appCat.unknown  \
time
2014-02-17           0.0            0.0            0.0             0.0
2014-02-18           0.0            0.0            0.0             0.0
2014-02-19           0.0            0.0            0.0             0.0
2014-02-20           0.0            0.0            0.0             0.0
2014-02-21           0.0            0.0            0.0             0.0

variable    appCat.utilities  appCat.weather      call  circumplex.arousal  \
time
2014-02-17               0.0             0.0  3.217391           -0.220524
2014-02-18               0.0             0.0  3.190476           -0.357586
2014-02-19               0.0             0.0  4.000000           -0.298779
2014-02-20               0.0             0.0  2.888889           -0.218118
2014-02-21               0.0             0.0  3.750000           -0.255205

variable    circumplex.valence  mood  screen       sms
time
2014-02-17            0.712573   NaN     0.0  0.956522
2014-02-18            0.743969   NaN     0.0  0.523810
2014-02-19            0.725624   NaN     0.0  1.750000
2014-02-20            0.728698   NaN     0.0  1.388889
2014-02-21            0.753690   NaN     0.0  1.050000

**TASK 1 A BELOW? - PLOTS**

In [ ]:
import matplotlib.pyplot as plt

variable_types = data['variable'].unique()

for variable_type in variable_types:
    plt.figure()
    plt.hist(data[data['variable'] == variable_type]['value'])
    plt.title(f'Histogram for {variable_type}')
    plt.xlabel('Variable')
    plt.ylabel('Value')

plt.show()

In [ ]:
import seaborn as sns
variable_types = data['variable'].unique()

for variable_type in variable_types:
    plt.figure()
    sns.boxplot(x='variable', y='value', data=data[data['variable'] == variable_type])
    plt.title(f'Boxplot for {variable_type}')
    plt.xlabel('Variable')
    plt.ylabel('Value')

plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data.dropna(inplace=True)

data['time'] = pd.to_datetime(data['time'])

plt.figure(figsize=(12, 6))
for id_value, group_data in data.groupby('id'):
    plt.plot(group_data['time'], group_data['id'], label=id_value)

plt.xlabel('Time')
plt.ylabel('ID')
plt.title('Time Distribution for Each ID')
plt.show()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data.dropna(inplace=True)

pivot_df = data.pivot_table(index='id', columns='variable', values='value', aggfunc='mean')
# pivot_df = data.pivot(index='id', columns='variable', values='value')

correlation_matrix = pivot_df.corr()

plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5)
plt.title('Correlation Matrix')
plt.show()

In [ ]:
import seaborn as sns

# variables = ['circumplex.valence', 'appCat.unknown', 'appCat.other', 'appCat.game', 'appCat.builtin', 'mood']
# pivot_df = data.pivot_table(index='id', columns='variable', values='value', aggfunc='mean')
print(pivot_df)
sns.pairplot(data=new_data, hue="mood_value")
plt.show()

#TODO: scatterplot van de hoge correlatie

## Task 1 b

<div style="max-width: 50%;">
<details>
    <summary>Details</summary>    
    As the insights from Task 1A will have shown, the dataset you analyze contains quite some
    noise. Values are sometimes missing, and extreme or incorrect values are seen that are likely
    outliers you may want to remove from the dataset. We will clean the dataset in two steps: <br><br>
    - Apply an approach to remove extreme and incorrect values from your dataset. Describe
    what your approach is, why you consider that to be a good approach, and describe what
    the result of applying the approach is.<br><br>
    â€¢ Impute the missing values using two different approaches. Describe the approaches
    and study the impact of applying them to your data. Argue which one of the two ap-
    proaches would be most suitable and select that one to form your cleaned dataset. Also
    base yourself on scientific literature for making your choice.<br><br>
    Advanced: The advanced dataset contains a number of time series, select two approaches to
    impute missing values that are logical for such time series and argue for one of them based
    on the insights you gain. Also consider what to do with prolonged periods of missing data in
    a time series.
</details>
</div>

## Task 1 c

<div style="max-width: 50%;">
<details>
    <summary>Details</summary>    
    While we now have a clean dataset, we can still take one step before we move to classification
    or regression that can in the end help to improve performance, namely feature engineering.
    As discussed during the lectures, feature engineering is a creative process and can involve
    or example the transformation of values (e.g. take the log of values given a certain distribution of values) or combining multiple features (e.g. two features that are more valuable
    combined than the two separate values). Think of a creative feature engineering approach
    for your dataset, describe it, and apply it. Report on why you think this is a useful enrichment
    of your dataset.<br><br>
    Advanced: Essentially there are two approaches you can consider to create a predictive model
    using this dataset (which we will do in the next part of this assignment): (1) use a machine
    learning approach that can deal with temporal data (e.g. recurrent neural networks) or you
    can try to aggregate the history somehow to create attributes that can be used in a more common machine learning approach (e.g. SVM, decision tree). For instance, you use the average
    mood during the last five days as a predictor. Ample literature is present in the area of temporal data mining that describes how such a transformation can be made. For the feature
    engineering, you are going to focus on such a transformation in this part of the assignment.
    This is illustrated in Figure 1.

![Figure 1: Predictive model](./images/task_1_figure_1.png)<br>
    In the end, we end up with a dataset with a number of training instances per patient (as
    you have a number of time points for which you can train), i.e. an instance that concerns
    the mood at t=1, t=2, etc. Of course it depends on your choice of the history you consider
    relevant from what time point you can start predicting (if you use a windows of 5 days of
    history to create attributes you cannot create training instances before the 6th day). To come to this dataset, you need to:<br><br>
    1. Define attributes that aggregate the history, draw inspiration from the scientific literature.<br>
    2. Define the target by averaging the mood over the entire day.<br>
    3. Create an instance-based dataset as described in Figure 1.<br>

</details>
</div>